# Dependencies
node_modules/

# Build output
dist/
release/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*

# Electron
*.log

# Backup
version_bak/
